h2 {
  color: blue;
  font-size: 80px;
  margin: 20px 60px;
  text-align: center;
}

button {
  height: 100px;
  width: 100px;
  font-size: 30px;
  font-weight: bold;
  border-radius: 50%;
  border: solid 2px black;
  background-color: white;
  margin: 20px 0;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

span {
  font-weight: bold;
  font-style: italic;
}

ul {
  margin: 10px 0;
}

li {
  margin: 2px 0;
}

p {
  margin: 5px 0;
}
